<h1>Hi!</h1>
<br/>
<p>You've been invited by {{ username }} to join Match Wallet App</p>
<br/>
<p>If you're agree, just follow this two Steps:</p>
<ol>
	<li>Create an account <a href="">here</a></li>
	<li>Insert the Token Group to join the Match with {{ username }}</li>
</p>Token Group: {{ grouptoken }}</p>
<br/>
<small>If you don't know {{ username }} and you don't funcy to join the App, just ignore this email</small>
<br/>
<br/>
<small>Match Wallet App Team</small>