{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

	
	{% block fos_user_content %}
		<div class="confirmation-wrap">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p class="text-center text-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
				</div>
				<div class="horizontal-space"></div>
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-success">
						<div class="panel-heading">
							<a href="{{ path('app_invitation_inviteto') }}" class="panel-title text-center">Press in this box if you're starting from stash</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-info">
						<div class="panel-heading">
							<a href="{{ path('app_invitation_invitedby') }}" class="panel-title text-center">Follow this link if you've been invited by a friend</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock fos_user_content %}
		
