{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-warning submit-btn" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}">Register</button>
    </div>
</form>
