{% extends "::base.html.twig" %}

{% block title %}AppBundle:AppController:index{% endblock %}

{% block body %}

<section class="user-header">
	<div class="row">
		<h3>Welcome <span class="text-capitalize">{{ user.username }}<span></h3>
		<p>You're matched with <span class="text-capitalize">{{ partner.username }}</span></p>
	</div>
</section>


{% endblock %}
